/* header */
body {
  background-color: #f9fcfb;
  font-family: "Roboto", sans-serif;
}

.navbar-home {
  height: 30px;
  background-color: #f9fcfb;
}

.navbar-wrapper {
  padding-top: 5px;
  padding-bottom: 33px;
  margin-left: 150px;
  margin-right: 120px;
}

.navbar-logo {
  padding-bottom: -7px;
}

.navbar-search-button {
  border: 1px solid #d63447;
  border-radius: 60px;
  background-color: transparent;
  margin-left: 6px;
  height: 38px;
  width: 38px;
}

.navbar-search-icon {
  color: #d63447;
}

.navbar-welcome {
  color: #d63447;
}

.navbar-search {
  border-radius: 30px;
  border-color: #d63447;
  background-color: transparent;
}

.navbar-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d63447;
}

.navbar-profile-picture {
  border: 1px solid #d63447;
  border-radius: 60px;
  margin-left: 10px;
}

.links-navbar-wrapper {
  background-color: #D56576;
  height: 50px;
}

.links-navbar-row {
  padding-top: 15px;
  margin-left: 150px;
  margin-right: 120px;
}

.links-flex a{
  color: #ffffff;
}

.links-flex h6 {
  font-weight: 800;
}

/* .links-navbar-company {
  padding-left: 100px;
} */

.links-navbar-company h6 {
  font-weight: 300;
  text-align: right;
}

.links-navbar-wrapper h6 {
  color: #ffffff;
}

/* ALGORITHMS PAGE STUFF */

.algorithms-wrapper{
  padding-top: 40px;
  padding-left: 164px;
  padding-right: 120px;
  background-color: #fffcf4;
}

.algo-page-header-wrapper {
  margin-bottom: 30px;
}

.algo-page-header-text{
  color: #d63447;
}

.algo-page-category-link {
  text-align: center;
  border: 1px solid #381460;
  border-radius: 10px;
  color: #381460;
}

.algo-page-category-link-wrapper {
  margin-top: 11px;
}

.light-text {
  font-weight: 300;
}

.medium-text {
  font-weight: 700;
}

.main-wrapper {
  margin-top: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Overview Card Group */
.overview-card-group {
  margin-top: 10px;
}

.overview-card-group .icon {
  font-size: 27px;
  padding-right: 10px;
}

.overview-card-group .overview-header {
  margin-bottom: 25px;
}

.overview-card-group-cards-wrapper {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 40px;
}

/* Overview Card */

.overview-card {
  margin-right: 20px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
}

.overview-card .attempts {
  float: right;
}

.stars-wrapper{
  color: #FFCE00;
  font-weight: 600;
}

/* Sorting */
.overview-card-group.sorting .h3 {
  color: #381460;
}

.overview-card-group.sorting .icon {
  /* color: #381460; */
}

.overview-card .sorting {
  color: #27272727;
  border-color: #41186f;
  /* background-color: #41186f; */
}

/* Graphs */
.overview-card-group.graphs .h3 {
  color: #10375c;
}

.overview-card-group.graphs .icon {
  color: #10375c;
}

.overview-card.graphs {
  color: #eeeeee;
  border-color: #10375c;
  background-color: #10375c;
}

