/* header */
body {
  background-color: #f9fcfb;
  font-family: "Roboto", sans-serif;
}

.navbar-home {
  height: 60px;
  background-color: #f9fcfb;
}

.navbar-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
}

.navbar-logo {
  padding-bottom: -7px;
}

.navbar-search-button {
  border: 1px solid #d63447;
  border-radius: 60px;
  background-color: transparent;
  margin-left: 6px;
  height: 38px;
  width: 38px;
}

.navbar-search-icon {
  color: #d63447;
}

.navbar-welcome {
  color: #d63447;
}

.navbar-search {
  border-radius: 30px;
  border-color: #d63447;
  background-color: transparent;
}

.navbar-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d63447;
}

.navbar-profile-picture {
  border: 1px solid #d63447;
  border-radius: 60px;
  margin-left: 10px;
}

.links-navbar-wrapper {
  background-color: #381460;
  height: 50px;
}

.links-navbar-row {
  padding-top: 15px;
}

/* .links-navbar-company {
  padding-left: 100px;
} */

.links-navbar-company h6 {
  font-weight: 300;
  text-align: right;
}

.links-navbar-wrapper h6 {
  color: #ffffff;
}

.light-text {
  font-weight: 300;
}

.medium-text {
  font-weight: 700;
}

.main-wrapper {
  margin-top: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
